---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Projects from '../components/Projects.astro';
import Stack from '../components/Stack.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro';
---
<Layout>
  <div id="top">
    <Nav />
    <Hero />
    <About />
    <Services />
    <Projects />
    <Stack />
    <Contact />
    <Footer />
  </div>
  <FloatingWhatsApp />
</Layout>
